/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #322FF1;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/*=====REUSABLE CSS=====*/
body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.isi {
    margin-top: 60px; 
    display: flex;
}
/*===NAV  EXTRA FOR PROFILE=== start ===*/
.navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}

.navbar-extra a:hover {
    color: rgb(22, 72, 99, 0.8);
    margin: 0 0.5rem;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin:10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    color: #164863;
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50px;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}
/*===NAV  EXTRA FOR PROFILE=== end ===*/

/* ===== Sidebar-Menu START===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark .sidebar{
    box-shadow: 0 4px 2px -2px gray;
}

.sidebar.close {
    width: 88px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}
/* ===== Reusable code ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */
.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.konten .dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 65px;
}


.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.header-konten {
    box-shadow: 0 4px 2px -2px gray;
}
/*ADVANCE DARKMODE FOR DASHBOARD CONTENT START*/

.header-konten {
    background-color: white;
    color: black;
}

.dark .header-konten {
    background-color:  #242526;
    color: white;
}

.post, .make-report, .trend-content, .caption, .footer-report {
    background-color: white;
    color: black;
}

.dark .post, .dark .make-report, .dark .caption, .dark .footer-report, .dark .saved-post, .dark .history-post, .dark .profile, .dark .input-address {
    background-color:  #242526;
    color: white;
}


body.dark .add-comment-form {
    background-color: #242526;
    color: white;
   
}

body.dark .add-comment-form input,
body.dark .add-comment-form button {
    background-color: #242526;
    color: white;

}

.input-caption {
        background-color: white;
        color: black;
}

.dark .input-caption{
    background-color:  #242526;
    color: white;
}


/*ADVANCE DARKMODE FOR DASHBOARD CONTENT END*/
/*ACCEPTED POST START*/
.header-trend, .accepted-post{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.dark .trend-content {
    background-color:#242526;
    color: white;
}
.header-trend, .accepted-post, hr{
    margin-bottom: 5px;
}
.accepted-post img{
    width: 100px;
    height: 75px;
}

.accepted-post p{
    font-size: 12px;
}

/* POPUP COMMENT */
/* Popup Container */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

/* Popup Content */
.dark .popup-content{
    background-color: black;
    color: white;
}
.dark .previous-comments{
    background-color: #242526;
    color: white;
}

.popup-content {
    background-color: #fefefe;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Close Button */
.closepop {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.closepop:hover,
.closepop:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Left Section */
.popup-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-left img, .post-content img , .saved-media img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Right Section */
.popup-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: auto;
}

/* Post Header */
.post-header , .previous-comments {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
   
}



.profile-info h3 {
    font-size: 16px;
}

.profile-info p {
    font-size: 14px;
    color: #888;
}

/* Previous Comments */
.previous-comments {
    align-items: flex-start;
    display: inline;
    flex-grow: 1;
    overflow-y: auto;
}

.comments{
    display: flex;
    gap: 10px;
}

.comments-user{
    display: flex;
    gap: 5px;
    align-items: center;
}

.comments-user h4, .comments-user p{
    font-size: 12px;
}

.tanggal-komen, #tanggal-post{
    font-size: 10px;
    color: #888;
}

.comment-info, .uploader-info{
    margin-top: 10px;
    gap: 5px;;
    align-items: center;
}


/*ACCEPTED POST END*/

/* ===== Sidebar-Menu END===== */
.atribut{
    color: #322FF1;
}
.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/*===CONTENT DASHBOARD START CSS===*/
.konten {
    justify-content: space-between;
    margin-left: 250px;
    width: calc(100% - 250px);
}

.header-konten{
    position: fixed;
    margin-left: -250px;
    width: 100%;
    display: flex;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    align-items: center;
}


.page-name{
    padding-left: 270px;
    width: 80%;
}

.user-login{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
}

.isi-konten, .isi-konten-dashboard{
    padding-top: 100px;
    padding-left: 25px;
    display: flex;
}

.isi-konten{
    gap: 20px;
    flex-wrap: wrap;
}


.konten table {
    border-color: #ccc;
    width: 100%;
}

.konten table .head-table,
.konten table tr .aksi {
    text-align: center;
}

.konten table tr td {
    padding: 5px;
}

.fyp {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

i {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.save-button i{
    transition: color 0.3s; 
}
.saved i{
    color: rgb(0, 38, 255);
}

.like-button i{
    transition: color 0.3s; 
}
.liked i{
    color: rgb(255, 0, 0);
}

.trend {
    width: 30%;
    padding-left: 25px;
}

img {
    width: 100%;
    object-fit: cover;
}

.post, .make-report, .history-post, .profile {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
}
.make-report{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}


.dark .post-header{
    background-color: #242526;
    color: white;
}


.post-header img, .reporter img, .user-login img, .header-trend img , .image-user-comment img, .profile-picture-pop-up{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.post-header .post-info {
    display: flex;
    flex-direction: column;
}

.post-info h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.post-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.dark .post-info h3, .dark .post-info p{
    color: white;
 
}

.post-content {
    margin-top: 10px;
}

.post-content img{
    border-radius: 5px;
    height: 350px;
}

.post-content p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.post-actions {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.dark .post-actions{
    background-color: #242526;
    color: white;
}
.left-post-action{
    flex-grow: 1;
}

.post-actions button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    margin-right: 10px;
}

.post-actions button:hover {
    color: #333;
}

form {
    display: flex;
}

.add-comment-form{
    padding-right: 5px;
    gap: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.comment, .comment:focus{
    border: none;
    outline: none;
}

#submitcomment, #submitcommentpop {
    background-color: #322FF1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    height: 60%;
}

.trend-content{
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 4%;
  padding: 10px;
}

.header-report, .footer-report{
    display: flex;
}

.caption-media{
    align-items: center;
    width: 80%;
    margin-right: 15%;
}

.media-preview i{
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer; 
    color: red;
}

.media-preview img {
    width: 50%;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}

.footer-report{
    justify-content: space-between;
}
.reporter {
    align-items: center;
    width: 20%;
    padding-right: 50px;
}

.input-caption, .input-address {
    width: 500px;
    height: 75px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.input-caption :focus,.input-address :focus{
    border: none;
    outline: none;
    
}

.atribut li {
    display: inline;
    cursor: pointer;
}
.submit-report button {
    padding: 5px 20px;
    background-color: blue;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}


/*===CONTENT DASHBOARD END CSS===*/

/*===CONTENT SAVED START CSS===*/

.saved-post{
    width: 90%;
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}


.saved-media img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.uploader{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 80px;
}

.uploader img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.unsave{
    margin-top: 20px;
}
.unsave-button{
    background: blue;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.saved-on{
    color: #666;
    font-size: 12px;
}

.posted-by{
    color: #666;
    font-size: 15px;
}

/*===CONTENT SAVED END CSS===*/

/*===CONTENT HISTORY START CSS===*/

.history-post, .profile {
    width: 80%;
}


.left-actions, .center-action, .right-action {
    display: flex;
}

.left-actions{
    gap: 20px;
}

/*===CONTENT HISTORY END CSS===*/

/*===PROFILE USER START===*/
.profile {
    width: 90%;
}
.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
}

.profile-pic-container {
    display: flex;
    margin-right: 20px;
}

.profile-pic-container button{
    margin-left: -5px;
    margin-top: 75%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #2f2ce0;
}

.profile-pic-container i{
    font-size: 18px;
    color: white;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-grow: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-actions {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}



.form-actions button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
}

.save-button {
    background-color: #1814F3;
    color: white;
}

.cancel-button, .save-button {
    padding: 10px 20px;
    border: none;
    border-radius:10px;


}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input, .select-gender{
    outline: none;
    border: gray 0.1px solid;
    padding: 5px;
    border-radius: 10px;
}
/*===PROFILE USER END===*/
.deleteModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.deleteModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.closeDelete {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeDelete:hover,
.closeDelete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* CSS code for devices with a maximum width of 768px */
    .sidebar {
        width: 100%;
    }

    .konten {
        margin-left: 0;
        width: 100%;
    }

    .header-konten {
        margin-left: 0;
    }

    .page-name {
        padding-left: 0;
    }
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
}

.modal-content button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.modal-content .confirmAction{
    background-color: #4CAF50;
}

.modal-content .cancelAction{
    background-color: #f44336;
}


/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
