body {
  background-color: #E5EFF8;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo,
.signup-form {
  width: 50%;
}

.logo {
  margin-right: 1rem; /* Add margin between logo and form */
}

.signup-form {
  margin-left: 1rem; /* Add margin between form and logo */
}

form {
  background: linear-gradient(to right, #1814F3, #FCFEFF);
  width: 25rem;
  margin: 20vh auto 0 auto;
  padding: 1.25rem;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
}

form h1 {
  color: white;
  text-align: center;
}

h4{
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

form p{
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  margin-top: 0.6rem;
  width: 100%;
  color: grey;
  background-color: #0C359E;
  border: none;
  cursor:pointer;
  border-radius: 3rem;
}

button {
  color: white; /* Warna teks */
  text-decoration: none; /* Hilangkan garis bawah */
  cursor: pointer; /* Ubah kursor saat diarahkan ke tautan */
}

/* Gaya khusus saat tautan dihover */
button:hover {
  background-color: orange;/* Ubah warna teks saat dihover */
  
}

.input-control {
  display: flex;
  flex-direction: column;
  color: white;
  
}

.input-control input {
  border: 4rem;
  border-radius: 4rem;
  display: 0.25rem;
  font-size: 0.75rem;
  padding: 0.6rem;
  width: 100%;
}

.input-control input:focus {
  outline: 2;
  outline-color: #0C359E;
}

.input-control .success {
  border-color: green;
}

.input-control .error {
  border-color: red;
}

.input-control .success,
.input-control .error {
  display: block; /* Mengubah tipe display agar muncul dengan benar */
  font-size: 0.75rem;
  padding: 0.1rem;
  color: inherit; /* Menggunakan warna teks yang sama dengan elemen lainnya */
}

.input-control .success {
  color: green;
}

.input-control .error {
  color: red;
}

.input-control .success,
.input-control .error {
  position: relative; /* Menambahkan posisi relatif agar pesan sukses/kesalahan muncul dengan benar */
  margin-top: 0.5rem;
}
