body {
  background-color: #E5EFF8;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

}

.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5EFF8;
  position: relative;
}

.blobs-vector {
  position: relative;
  width: 150px;
  height: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -20%;
}

.blobs-vector img {
  position: absolute;
  width: 250%;
  height: 250%;
}

.blobs-vector-layer1 {
  position: absolute;
  width: 526px;
  height: 661px;
  left: 24px;
  top: -170px;
}

.blobs-vector-layer2 {
  position: absolute;
  width: 530px;
  height: 607px;
  left: 90px;
  top: -180px;
}

.blobs-vector-layer3 {
  position: absolute;
  width: 550px;
  height: 469px;
  left: 0px;
  top: -70px;
}

.blobs-vector-recity {
  position: absolute;
  width: 762%;
  height: 613%;
  left: 0px;
  top: -150px;
}

.signup-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: linear-gradient(to left, #1814F3, #6e6cec, #FCFEFF);
  width: 100%;
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
}

form h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

form h4 {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 1rem;
}

button {
  display: block;
  padding: 0.5rem;
  margin-top: 1.5rem;
  width: 100px;
  background-color: #0C359E;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: orange;
}

.submit {
  border-radius: 10px;
  width: 70%;
}

.input-control-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px; 
    grid-row-gap: 20px; 
}

.input-control {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 1rem;
  width: 120%;
  margin-left: -25px;
}

.input-control input {
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 0.75rem;
  width: 100%;
}

.input-control input:focus {
  outline: 1;
  outline-color: #1814F3;
}

.input-control .success {
  border-color: green;
}

.input-control .error {
  border-color: red;
}

.input-control .success,
.input-control .error {
  display: block;
  font-size: 0.75rem;
  padding: 0.1rem;
  color: inherit;
}

.input-control .success {
  color: green;
}

.input-control .error {
  color: red;
}

.input-control .success,
.input-control .error {
  position: relative;
  margin-top: 0.5rem;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

form .additional-text {
  text-align: center;
  margin-top: 1.5rem;
  color: white;
  font-size: 13px;
}

form .additional-text a {
  color: blue;
  text-decoration: none;
}

form .additional-text a:hover {
  text-decoration: underline;
}
